* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    ::selection {
        background: #000;
        color: #fff;
    }
}

header {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #D8D8D8;


    .headerCountainer {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;

        .logo {

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            h1 {
                color: #FD5F00;
                font-family: "Anton";
                letter-spacing: 3px;
            }
        }

        .navHeader {
            display: flex;
            justify-content: space-between;


            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                gap: 15px;
                font-size: 13PX;

                .fa-bars {
                    display: none;
                }

            }

            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-family: "Nunito Sans";
                font-size: 16px;


            }

            .one {
                color: #FE8200;
            }
        }

    }

}

@media screen and (min-width: 300px) and (max-width: 991px) {
    header {
        .headerCountainer {
            .navHeader {

                ul {
                    li {
                        display: none;
                    }

                    .fa-bars {
                        display: block;
                    }
                }
            }
        }
    }
}

#hero {

    min-height: 100vh;
    width: 100%;
    background-image: url(../../assets/image/hero_12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // background: fixed;
    background-position: center;
}

@media screen and (min-width: 300px) and (max-width: 991px) {
    #hero {
        max-width: 100%;
    }
}

#cart {
    display: flex;
    justify-content: center;

    .cartCountainer {
        display: flex;
        width: 100%;
        justify-content: center;

        .cartdesk {
            .border {
                h1 {
                    font-family: "Nunito Sans";
                    color: rgb(255, 255, 255);
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 27px;
                }

                p {
                    font-family: "Nunito Sans";
                    color: rgb(147, 147, 147);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 27px;

                }

                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
            }

            padding: 20px;
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 10px;


        }



        .colorone {
            background-color: #4E4E4E;
            border: 2px solid #A7A7A7;
        }

        .colortwo {
            background-color: #FD5F00;
            border: 2px solid #FEAF80;
        }

        .colorthere {
            background-color: #A23131;
            border: 2px solid #D19898;
        }

        .coloronee {
            background-color: #4E4E4E;
        }

        .colortwoo {
            background-color: #FD5F00;
        }

        .colortheree {
            background-color: #A23131;

        }
    }
}

@media screen and (min-width: 300px) and (max-width: 781px) {
    #cart {
        .cartCountainer {
            flex-wrap: wrap;

        }
    }
}

#aboutSec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;
    background-color: #CBA45A;


    .countainerAboutSec {
        width: 70%;
        display: flex;
        flex-direction: column;

        .aboutVideo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .aboutText {
                gap: 20px;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 95px;

                h2 {
                    font-family: "Anton";
                    font-weight: 500;
                    font-size: 64px;
                    line-height: 77px;
                }

                p {
                    font-family: "Nunito";
                    font-weight: 400;
                    color: #000000;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
        }

        .aboutMember {
            padding-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            h3 {
                font-family: "Anton";
                font-weight: 500;
                font-size: 64px;
                color: rgb(253, 95, 0);
                line-height: 64px;

            }

            p {
                font-family: "Nunito";
                font-weight: 400;
                color: #000000;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 740px) {
    #aboutSec {
        padding: 10px;

        .countainerAboutSec {
            width: 300px;
            height: auto;

            .aboutVideo {
                flex-wrap: wrap;

                iframe {
                    max-width: 100%;
                }

                .aboutText {
                    gap: 0px;
                    margin: 0%;
                    padding: 0%;
                }
            }

            .aboutMember {
                flex-wrap: wrap;
            }
        }
    }
}

@media screen and (min-width: 740px) and (max-width: 991px) {
    #aboutSec {
        padding: 10px;

        .countainerAboutSec {
            width: 750px;
            height: auto;

            .aboutVideo {
                flex-wrap: wrap;

                iframe {
                    max-width: 100%;
                }

                .aboutText {
                    gap: 0px;
                    margin: 0%;
                    padding: 0%;
                }
            }

        }
    }
}

#discoverSec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8em;


    .discoverCountainer {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .discoverAboutText {
            display: flex;
            gap: 20px;
            padding-bottom: 20px;
            width: 60%;
            align-items: center;
            flex-direction: column;

            h2 {
                font-family: "Anton";
                font-weight: 500;
                font-size: 32px;
                line-height: 38px;
            }

            p {
                text-align: center;
                font-family: "Nunito";
                font-weight: 400;
                color: rgb(147, 147, 147);
                font-size: 18px;
                line-height: 26px;
            }
        }

        .discoverBuild {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .discoverImage {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .discoverBuildText {
                // ауцааааааааааааааааааааааааааааааа
                width: 50%;
                gap: 20px;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 95px;

                h2 {
                    font-family: "Anton";
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 38px;
                }

                p {
                    font-family: "Nunito";
                    font-weight: 400;
                    color: rgb(147, 147, 147);
                    font-size: 18px;
                    line-height: 26px;
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    justify-content: space-around;

                    div {
                        display: flex;
                        flex-direction: column;

                        h3 {
                            font-family: "Anton";
                            font-weight: 500;
                            font-size: 64px;
                            color: rgb(253, 95, 0);
                            line-height: 64px;

                        }

                        p {
                            font-family: "Nunito";
                            font-weight: 400;
                            color: #000000;
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
            }



        }

        .discoverFeeding {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .discoverImage {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .Feedingyazi {
            // ауцааааааааааааааааааааааааааааааа
            width: 50%;
            gap: 20px;
            display: flex;
            flex-direction: column;
            margin: 0px 95px 0px 0px;

            h2 {
                font-family: "Anton";
                font-weight: 500;
                font-size: 32px;
                line-height: 38px;
            }

            p {
                font-family: "Nunito";
                font-weight: 400;
                color: rgb(147, 147, 147);
                font-size: 18px;
                line-height: 26px;
            }

            div {
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-around;

                div {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-family: "Anton";
                        font-weight: 500;
                        font-size: 64px;
                        color: rgb(253, 95, 0);
                        line-height: 64px;

                    }

                    p {
                        font-family: "Nunito";
                        font-weight: 400;
                        color: #000000;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }


    }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    #discoverSec {
        padding: 10px;

        .discoverCountainer {
            width: 500px;
            height: auto;

            .discoverAboutText {
                width: 100%
            }

            .discoverBuild {
                width: 100%;

                flex-direction: column;
                flex-wrap: wrap;
                margin: 0%;
                padding: 0%;
                gap: 20px;

                .discoverImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 300px;
                    }
                }

                .discoverBuildText {
                    width: 100%;
                    margin: 0%;
                    padding: 0%;
                    gap: 0px;

                    div {

                        flex-direction: column;

                    }
                }
            }

            .discoverFeeding {
                width: 100%;

                flex-direction: column-reverse;
                flex-wrap: wrap;

                padding: 0%;
                gap: 20px;

                .discoverImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 300px;
                    }
                }

                .Feedingyazi {
                    margin: 0px 0px 10px 0px;
                    width: 100%;

                    div {

                        flex-direction: column;

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 991px) {
    #discoverSec {
        padding: 10px;

        .discoverCountainer {
            width: 500px;
            height: auto;

            .discoverAboutText {
                width: 100%
            }

            .discoverBuild {
                width: 100%;

                flex-direction: column;
                flex-wrap: wrap;
                margin: 0%;
                padding: 0%;
                gap: 20px;

                .discoverImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 700px;
                    }
                }

                .discoverBuildText {
                    width: 100%;
                    margin: 0%;
                    padding: 0%;
                    gap: 0px;


                }
            }

            .discoverFeeding {
                width: 100%;

                flex-direction: column-reverse;
                flex-wrap: wrap;

                padding: 0%;
                gap: 20px;

                .discoverImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 700px;
                    }
                }

                .Feedingyazi {
                    margin: 0px 0px 10px 0px;
                    width: 100%;


                }
            }
        }
    }
}

#MakeADonation {
    display: flex;
    padding: 7em;
    justify-content: center;
    align-items: center;
    background-color: #CAA359;

    .countainerMakeADonation {
        width: 25%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            font-family: "Anton";
            font-weight: 500;
            font-size: 32px;
            color: rgb(255, 255, 255);
            line-height: 38px;
        }

        button {
            padding: 18px;
            font-family: "Nunito";
            font-weight: 400;
            color: #ffffff;
            font-size: 16px;
            line-height: 16px;
            background-color: #FD5F00;
            transition: 0.5s;
            border: none;

            &:hover {
                background-color: #D75100;
                transition: 0.5s;
            }
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    #MakeADonation {
        padding: 0%;
        padding-bottom: 20px;
        padding-top: 20px;

        .countainerMakeADonation {

            width: 300px;
        }
    }

}

@media screen and (min-width: 700px) and (max-width: 991px) {
    #MakeADonation {
        padding: 0%;
        padding-bottom: 20px;
        padding-top: 20px;

        .countainerMakeADonation {

            width: 700px;
        }
    }

}

#product {
    display: flex;
    padding: 8em;
    justify-content: center;
    align-items: center;

    .productContainer {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        width: 75%;

        .cards {
            position: relative;
            padding: 35px;

            &:hover {
                button {
                    display: block;
                }
            }

            img {
                max-width: 100%;
                height: auto;
            }

            gap: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;

            h3 {
                font-family: "Anton";
                font-weight: 500;
                font-size: 24px;
                color: rgb(253, 95, 0);
                line-height: 29px;
            }

            h2 {
                font-family: "Anton";
                font-weight: 500;
                font-size: 20px;
                color: rgb(253, 95, 0);
                line-height: 29px;
            }

            button {
                display: none;
                font-weight: 700;
                font-size: 20px;
                background-color: rgb(253, 95, 0);
                line-height: 29px;
                color: white;
                width: 100%;
                left: 1px;
                position: absolute;
                bottom: 1px;
                border: none;
            }
        }
    }
}


@media screen and (min-width: 300px) and (max-width: 700px) {
  

}
